# Modeling with Pycaret

To begin my exploration into modeling we will use PyCaret to create some rough forecasting models to understand how the data may be forecast. AFter this exploration if the results are promising, then we will move on to pick specific models to use in order to create a more tailored and specific model targeting our forecasting needs.

In [1]:
import pandas as pd
import prophet

In [2]:
# As always, load the data

arrivals = pd.read_csv('../NZ Data/Arrivals Data Cleaned.csv', skipinitialspace = True, parse_dates = True, \
                       index_col = 0)
accomodations = pd.read_csv('../NZ Data/Accomodation Data Cleaned.csv', skipinitialspace = True, parse_dates = True, \
                       index_col = 0)

In [3]:
arrivals.columns = arrivals.columns.str.replace(r' $','', regex = True)

In [4]:
#arrivals = arrivals.reset_index()

In [5]:
# Taking out the datetime data because algorithms struggle with datetime data
#arrivals['month'] = [i.month for i in arrivals['Date']]
#arrivals['year'] = [i.year for i in arrivals['Date']]
#arrivals['day_of_year'] = [i.dayofyear for i in arrivals['Date']]
#arrivals.head()

In [6]:
# Going to melt the column to make it more algorithm friendly
#variables = arrivals.iloc[:,1:37].columns
#variables

In [7]:
arrivals.head()

,BusinessAuckland,BusinessChristchurch,BusinessDunedin,BusinessHamilton,BusinessPalmerston North,BusinessRotorua,BusinessWellington,BusinessQueenstown,BusinessTOTAL NEW ZEALAND PORTS,Holiday/VacationAuckland,...,Visit Friends/RelativesTOTAL NEW ZEALAND PORTS,TOTAL ALL TRAVEL PURPOSESAuckland,TOTAL ALL TRAVEL PURPOSESChristchurch,TOTAL ALL TRAVEL PURPOSESDunedin,TOTAL ALL TRAVEL PURPOSESHamilton,TOTAL ALL TRAVEL PURPOSESPalmerston North,TOTAL ALL TRAVEL PURPOSESRotorua,TOTAL ALL TRAVEL PURPOSESWellington,TOTAL ALL TRAVEL PURPOSESQueenstown,TOTAL ALL TRAVEL PURPOSESTOTAL NEW ZEALAND PORTS
Date,,,,,,,,,,,,,,,,,,,,,
1978-04-01,3428.0,468.0,0.0,0.0,0.0,0.0,492.0,0.0,4408.0,10476.0,...,3324.0,19856.0,6240.0,0.0,0.0,0.0,0.0,2116.0,0.0,28524.0
1978-05-01,2264.0,524.0,0.0,0.0,0.0,0.0,428.0,0.0,3236.0,7168.0,...,3568.0,15428.0,5240.0,0.0,0.0,0.0,0.0,2156.0,0.0,23060.0
1978-06-01,2136.0,280.0,0.0,0.0,0.0,0.0,384.0,0.0,2880.0,4640.0,...,2600.0,11416.0,2708.0,0.0,0.0,0.0,0.0,1252.0,0.0,15760.0
1978-07-01,2156.0,324.0,0.0,0.0,0.0,0.0,380.0,0.0,2964.0,6184.0,...,3144.0,14072.0,4900.0,0.0,0.0,0.0,0.0,1480.0,0.0,20892.0
1978-08-01,2304.0,536.0,0.0,0.0,0.0,0.0,496.0,0.0,3416.0,8236.0,...,4204.0,17960.0,7900.0,0.0,0.0,0.0,0.0,2748.0,0.0,28992.0

In [8]:
#arrivals_melted = pd.melt(arrivals, id_vars = ['Date'],\
                         # value_vars = variables, value_name ='visitors', var_name = 'port_and_purpose',\
                         # ignore_index = False)
#arrivals_melted.head()

In [9]:
#import plotly.express as px

#for i in arrivals_melted['port_and_purpose'].unique():
#    subset = arrivals_melted[arrivals_melted['port_and_purpose'] == i]
#    fig = px.line(subset, x="Date", y= "visitors", title = i)
#    fig.show()

In [17]:
from pycaret.time_series import TSForecastingExperiment
from pycaret.time_series import pull

In [11]:
all_results = []
final_model = {}

In [22]:
exp = TSForecastingExperiment()
exp.setup(arrivals['BusinessAuckland'], fh=24, seasonal_period = 12)

In [23]:
exp.check_stats()

,Test,Test Name,Data,Property,Setting,Value
0,Summary,Statistics,Actual,Length,,530.0
1,Summary,Statistics,Actual,Mean,,10812.932075
2,Summary,Statistics,Actual,Median,,10806.0
3,Summary,Statistics,Actual,Standard Deviation,,6034.323748
4,Summary,Statistics,Actual,Variance,,36413063.091786
5,Summary,Statistics,Actual,Kurtosis,,-0.918569
6,Summary,Statistics,Actual,Skewness,,0.189788
7,Summary,Statistics,Actual,# Distinct Values,,514.0
8,White Noise,Ljung-Box,Actual,Test Statictic,"{'alpha': 0.05, 'K': 24}",6846.396265
9,White Noise,Ljung-Box,Actual,Test Statictic,"{'alpha': 0.05, 'K': 48}",10105.552978
10,White Noise,Ljung-Box,Actual,p-value,"{'alpha': 0.05, 'K': 24}",0.0
11,White Noise,Ljung-Box,Actual,p-value,"{'alpha': 0.05, 'K': 48}",0.0
12,White Noise,Ljung-Box,Actual,White Noise,"{'alpha': 0.05, 'K': 24}",False
13,White Noise,Ljung-Box,Actual,White Noise,"{'alpha': 0.05, 'K': 48}",False
14,Stationarity,ADF,Actual,Stationarity,{'alpha': 0.05},False
15,Stationarity,ADF,Actual,p-value,{'alpha': 0.05},0.234818
16,Stationarity,ADF,Actual,Test Statistic,{'alpha': 0.05},-2.124399
17,Stationarity,ADF,Actual,Critical Value 1%,{'alpha': 0.05},-3.443237
18,Stationarity,ADF,Actual,Critical Value 5%,{'alpha': 0.05},-2.867224
19,Stationarity,ADF,Actual,Critical Value 10%,{'alpha': 0.05},-2.569797
20,Stationarity,KPSS,Actual,Trend Stationarity,{'alpha': 0.05},False
21,Stationarity,KPSS,Actual,p-value,{'alpha': 0.05},0.01
22,Stationarity,KPSS,Actual,Test Statistic,{'alpha': 0.05},0.286466
23,Stationarity,KPSS,Actual,Critical Value 10%,{'alpha': 0.05},0.119
24,Stationarity,KPSS,Actual,Critical Value 5%,{'alpha': 0.05},0.146
25,Stationarity,KPSS,Actual,Critical Value 2.5%,{'alpha': 0.05},0.176
26,Stationarity,KPSS,Actual,Critical Value 1%,{'alpha': 0.05},0.216
27,Normality,Shapiro,Actual,Normality,{'alpha': 0.05},False
28,Normality,Shapiro,Actual,p-value,{'alpha': 0.05},0.0

In [ ]:
exp.plot_model(plot='ts')

In [ ]:
exp.plot_model(plot = 'cv')

In [ ]:
exp.plot_model(plot='acf')

In [ ]:
exp.plot_model(plot='diagnostics')

In [ ]:
exp.plot_model(plot = 'decomp_stl')

In [ ]:
exp.models()

In [19]:
for col in arrivals.columns:
    
    # initialize setup
    exp=TSForecastingExperiment()
    exp.setup(data = arrivals[col], fh=24, seasonal_period = 12)
    
    # compare all models
    best_model = exp.compare_models(verbose=False)
    
    # capture the compare result grid and store best model in list
    p = exp.pull().iloc[0:1]
    p['time_series'] = str(col)
    all_results.append(p)
    
    # finalize model i.e. fit on entire data including test set
    #f = finalize_model(best_model)
    
    # attach final model to a dictionary
    #final_model[col] = f
    
    # save transformation pipeline and model as pickle file 
    #save_model(f, model_name='trained_models/' + str(i), verbose=False)

In [21]:
concat_results = pd.concat(all_results,axis=0)
concat_results

,Model,MAE,RMSE,MAPE,SMAPE,MASE,RMSSE,R2,TT (Sec),time_series
exp_smooth,Exponential Smoothing,1847.5938,3040.2741,8.729,0.1226,2.1202,2.6894,0.561,0.0400,BusinessAuckland
ada_cds_dt,AdaBoost w/ Cond. Deseasonalize & Detrending,286.098,439.6555,153460317505311808.0,0.1528,1.2197,1.4433,0.4234,0.0433,BusinessChristchurch
huber_cds_dt,Huber w/ Cond. Deseasonalize & Detrending,23.9385,29.755,23583767500707164.0,0.5721,1.2396,0.8072,-0.441,0.0133,BusinessDunedin
naive,Naive Forecaster,0.5139,2.4227,0.0556,0.1111,0.0278,0.0721,-0.058,0.0067,BusinessHamilton
naive,Naive Forecaster,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0033,BusinessPalmerston North
naive,Naive Forecaster,1.5556,4.2164,0.0556,0.1111,0.4877,0.3525,0.6141,0.0033,BusinessRotorua
exp_smooth,Exponential Smoothing,327.0615,524.7345,177095760893043168.0,0.1482,1.4467,1.7891,0.4479,0.0367,BusinessWellington
ets,ETS,119.2602,168.245,89429736523777952.0,0.2367,3.7151,2.4567,0.2016,0.0233,BusinessQueenstown
exp_smooth,Exponential Smoothing,2358.3273,3905.6734,9.9394,0.1205,2.1454,2.6784,0.5673,0.0367,BusinessTOTAL NEW ZEALAND PORTS
exp_smooth,Exponential Smoothing,12117.3473,19304.4273,536.814,0.1544,2.8171,3.0665,0.7523,0.0367,Holiday/VacationAuckland
arima,ARIMA,3625.2503,5694.6243,1042120878805444096.0,0.1666,1.7507,1.992,0.7231,0.0233,Holiday/VacationChristchurch
auto_arima,Auto ARIMA,103.1505,127.2956,5052204146496381.0,0.5069,1.2327,0.8447,-0.9419,32.3833,Holiday/VacationDunedin
naive,Naive Forecaster,0.3194,1.4551,0.0417,0.0833,0.0049,0.0101,0.2936,0.0067,Holiday/VacationHamilton
naive,Naive Forecaster,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0067,Holiday/VacationPalmerston North
naive,Naive Forecaster,24.8889,45.2491,0.1389,0.2778,1.8749,1.0377,0.1513,0.0033,Holiday/VacationRotorua
ets,ETS,675.4676,984.8151,498647969687687424.0,0.1872,1.7478,1.4984,0.6799,0.0300,Holiday/VacationWellington
ets,ETS,1807.8334,2922.2105,2023708693819065088.0,0.1426,4.3983,3.0722,0.8024,0.0333,Holiday/VacationQueenstown
ets,ETS,17888.5732,28369.7072,617.1227,0.1505,2.9249,3.2402,0.7353,0.0533,Holiday/VacationTOTAL NEW ZEALAND PORTS
exp_smooth,Exponential Smoothing,5335.5806,9234.6022,3.6724,0.113,2.351,2.774,0.8677,0.0367,Visit Friends/RelativesAuckland
auto_arima,Auto ARIMA,1182.1705,1871.175,526110897811253568.0,0.1422,2.0777,2.2288,0.8486,31.8833,Visit Friends/RelativesChristchurch
snaive,Seasonal Naive Forecaster,151.5694,238.7375,25019997929836092.0,0.3292,1.6591,1.454,-2.507,0.0033,Visit Friends/RelativesDunedin
naive,Naive Forecaster,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0067,Visit Friends/RelativesHamilton
naive,Naive Forecaster,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0033,Visit Friends/RelativesPalmerston North
snaive,Seasonal Naive Forecaster,67.5556,88.5639,268214377807842848.0,0.4701,4.2831,1.6012,0.2656,0.0033,Visit Friends/RelativesRotorua
knn_cds_dt,K Neighbors w/ Cond. Deseasonalize & Detrending,919.8191,1580.0349,983607351322329984.0,0.1393,2.3467,2.6155,0.7658,0.0367,Visit Friends/RelativesWellington
auto_arima,Auto ARIMA,324.5924,470.6991,257287228928930144.0,0.1837,5.5102,3.1897,0.8144,27.2167,Visit Friends/RelativesQueenstown
exp_smooth,Exponential Smoothing,6921.5149,12095.8972,4.7293,0.1101,2.3168,2.7488,0.87,0.0400,Visit Friends/RelativesTOTAL NEW ZEALAND PORTS
ets,ETS,19224.7633,33545.2596,3.1791,0.1191,2.8423,3.516,0.7589,0.0567,TOTAL ALL TRAVEL PURPOSESAuckland
arima,ARIMA,4893.7046,7911.5408,1922843040295356160.0,0.1445,1.8631,2.187,0.7533,0.0300,TOTAL ALL TRAVEL PURPOSESChristchurch
auto_arima,Auto ARIMA,242.243,342.1073,34421811443390544.0,0.3323,1.3899,1.1532,-1.0304,22.1600,TOTAL ALL TRAVEL PURPOSESDunedin
naive,Naive Forecaster,1.0833,3.5612,0.1528,0.3056,0.0044,0.0067,-0.1279,0.0067,TOTAL ALL TRAVEL PURPOSESHamilton
naive,Naive Forecaster,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0067,TOTAL ALL TRAVEL PURPOSESPalmerston North
snaive,Seasonal Naive Forecaster,122.4444,156.8351,486388759756013568.0,0.5794,4.6756,1.6282,-0.3934,0.0033,TOTAL ALL TRAVEL PURPOSESRotorua
ets,ETS,1662.2344,2839.0351,1125902999941685504.0,0.1239,2.0231,2.3315,0.6932,0.0367,TOTAL ALL TRAVEL PURPOSESWellington
auto_arima,Auto ARIMA,2326.2816,3805.7324,2576101671557223424.0,0.1396,4.5332,3.2727,0.7387,63.9833,TOTAL ALL TRAVEL PURPOSESQueenstown
exp_smooth,Exponential Smoothing,25144.9588,45003.2397,4.1489,0.1132,2.6886,3.4357,0.7664,0.0467,TOTAL ALL TRAVEL PURPOSESTOTAL NEW ZEALAND PORTS

Now that we have an idea of which models are the best options for our time series, we can go back to our other notebook and perform more in-depth modeling, training, and tuning on these specific models.