# Data Wrangling and Exploratory Data Analysis

In this notebook, we aim to examine the data in both the Accomodation and Tourism visit datasets to see what relationship and interesting information we can glean from these datasets. Our end goal is to perform forecasting predictions on these datasets.

In [1]:
# Load the usual things
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
# Load Data
accomodation = pd.read_csv('E:/Springboard_GIT/Tourism-Forecasting/NZ Data/Primary Data - Accomodation Occupancy and Capacity by Region.csv')
arrivals = pd.read_csv('E:/Springboard_GIT/Tourism-Forecasting/NZ Data/Primary Data - Arrivals for All Visitors by Port and Purpose.csv')

In [19]:
#Examining Data
#Monthly capacity is how much space is available on a monthly basis
#Monthly occupancy is how much space is occupied on a monthly basis
accomodation.describe()

,,Northland,Unnamed: 2,Auckland,Unnamed: 4,Coromandel,Unnamed: 6,Waikato,Unnamed: 8,Bay of Plenty,...,Dunedin.4,Unnamed: 322,Clutha.4,Unnamed: 324,Fiordland.4,Unnamed: 326,Southland.4,Unnamed: 328,Total New Zealand.4,Unnamed: 330
count,226,226,226,226,226,226,226,226,226,226,...,226,226,226,226,226,226,226,226,226,226
unique,226,213,225,220,226,213,224,214,226,205,...,45,215,56,166,52,82,127,213,224,226
top,,309318,50818,559260,"Occupancy, monthly (stay-unit-nights used)",156550,12300,144180,"Occupancy, monthly (stay-unit-nights used)",157232,...,15128,..,12338,..,15810,..,34503,..,1581210,"Occupancy, monthly (stay-unit-nights used)"
freq,1,3,2,2,1,2,2,2,1,3,...,19,11,22,56,23,145,8,11,2,1